.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.apk
*.so

# Backup Files & Folders
*.bak
*.bak_*
*backup*
*.tmp
android/keystore/
*.jks
key.properties
android/keystore/
*.jks
